{% extends 'header.html' %}

{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">¿Olvidaste tu contraseña?</h2>
		<hr>
		<p>Ingresá el e-mail con el que te registrate y te enviaremos los pasos a seguir para generar una nueva contraseña</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy}}                   
            <button class="btn btn-primary" type="submit">Enviar link</button>
        </form>
        <div class="card-footer py-3 border-0">
            <div class="text-center">
               Recordaste tu contraseña?<a href="../login" class="text-dark"> Ingresá</a>
            </div>
        </div>
  </div> 

{% endblock %}
 



