* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #ffffff;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;

}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: black;
}

/* Navbar */
.navbar navbar-expand-lg bg-light mb-3 {
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;

}

.navbar-brand>img {
    max-width: 23% !important;
    max-height: 20%  !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#navbarNav3 ul li{
    margin-left: 15px !important; 
}


/* Carousel */
.carousel-item {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption h4, h3 {
    margin-bottom: 194px;
    font-family: Montserrat, sans-serif;
}


/* Servicios */

#servicios {
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: rgb(205, 153, 207);
}

#servicios h2{
    padding-bottom: 45px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 400px;
    height: 255px;
    margin-bottom: 10px;
}


/* Login */

#login-seccion, #registrar-seccion, #olvido-seccion, #reset-seccion{
    margin-top: 50px;
    margin-bottom: 50px;
}


/*Reservar turno */

#contact-seccion{
    background-image: url("../img/bck02.png");
    background-repeat: round;
    max-height: 25%;
}

