
* {
    box-sizing: border-box;
    /*  font-size: 10px;*/
}


body {
    margin: 0;
    background-color: #ffffff;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;

}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: black;
}

/* Navbar */
.navbar navbar-expand-lg bg-light mb-3 {
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.navbar-brand>img {
    max-width: 18%;
    max-height: 18%;
    margin-left: 0.6em;
}


.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#navbarNav1 {
    margin-right:18em ;
}
/* Carousel */
.carousel-item {
    width: 100%;
    height: 500px;
    overflow: hidden;
    font-family: "Montserrat";
    
    
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* Banner */

@import url("https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
#banner1 {
    padding: 150px 100px;
    background-image: url("../img/beauty5.jpg");
    height: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#banner1 h2{
    font-size: 50px;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 25px 0px;
}
#banner1 p{
    font-size: 20px;
    font-family: "Montserrat";
}


/* Servicios */

#servicios {
    padding-top: 45px;
    padding-bottom: 30px;
    background-image: url('..//img/bck01.png');; 
}

#servicios h2{
    padding-bottom: 45px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 400px;
    height: 255px;
    margin-bottom: 10px;
}


/* Login */

#login-seccion, #registrar-seccion, #olvido-seccion, #reset-seccion{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Footer*/

.footer-brand>img  {
    max-width: 18%;
    max-height: 18%;
}