
* {
    box-sizing: border-box;
    /*  font-size: 10px;*/
    font-family: 'Montserrat', sans-serif;
}


body {
    margin: 0;
    background-color: #ffffff;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;

}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: black;
}

/* Navbar */
.navbar navbar-expand-lg bg-light mb-3 {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand>img {
    max-width: 18%;
    max-height: 18%;
    margin-left: 0.6em;
}


.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}


/* Carousel */
.carousel-item {
    width: 100%;
    height: 500px;
    overflow: hidden;
    font-family: "Montserrat";
    
    
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


/* Banner */



#banner1 h2{
    font-size: 50px;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 25px 0px;
}

/* #banner04 {
    padding-left: 0;
    padding-right: 0;
    --bs-gutter-x: 0em !important;
} */


/* Servicios */

#servicios {
    padding-top: 45px;
    padding-bottom: 30px;
    background-image: url('..//img/bck01.png');
    font-family: 'Montserrat', sans-serif;

}

#servicios h2{
    padding-bottom: 45px;
    font-size: 35px;
    font-weight: 600;
    

}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 400px;
    height: 255px;
    margin-bottom: 10px;
}


/* Login */

/* #login-seccion, #registrar-seccion, #olvido-seccion, #reset-seccion{
    margin-top: 50px;
    margin-bottom: 50px;
} */

/*Footer*/

.footer-brand>img  {
    max-width: 18%;
    max-height: 18%;
}