{% extends 'header.html' %}


{% block title%}Milagros Veliz{% endblock %}
{% block content %}


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../app/static/app/img/banner01.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>

    </div>
    <div class="carousel-item">
      <img src="../../app/static/app/img/banner02.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>

    </div>
    <div class="carousel-item">
      <img src="../../app/static/app/img/banner03.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div> 

<!-- secciones -->
<div class="container-fluid g-0" id="banner04">
  <img src="../../app/static/app/img/banner04.png" class="d-block w-100" alt="...">
</div>

<!-- Servicios -->

<div class="container-fluid text-center bg-grey" id="servicios">
  <h2>Nuestros servicios</h2>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../app/static/app/img/serv1.webp" alt="cejas">
        <p><strong>Diseño de cejas</strong></p>
        <p>Trabajamos con una técnica exclusiva que respeta y realza tu fisonomía.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../app/static/app/img/serv2.png" alt="pestanias">
        <p><strong>Lifting de pestañas</strong></p>
        <p>Con esta técnica tus pestañas obtendrán un look de alargamiento y ligeramente curvado </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../app/static/app/img/serv3.webp" alt="Punta de diamante">
        <p><strong>Punta de diamante</strong></p>
        <p>La punta de diamante permite tratar en suavemente la piel, con un arrastre uniforme y controlado</p>
      </div>
    </div>
  </div>
</div>
{% load crispy_forms_tags %}
<section class="mh-25 my-auto py-5" id="contact-seccion">
  <div class="container h-25">
      <div class="row justify-content-sm-center mh-25">
          <div class="col-xxl-4 col-xl-12 col-lg-5 col-md-7 col-sm-9">
              <div class="card shadow-lg">
                  <div class="card-body p-5">
                      <h1 class="fs-4 card-title fw-bold mb-4">Contacto</h1>
                      <h4>Te invitamos a conocer nuestra propuesta.</h4>
                        <p>
                          Somos la solución más eficiente en belleza, cosmética, salud y cuidado personal en Capital Federal. 
                          Te esperamos para ayudarte a lucir un cuerpo más bello y también más saludable. 
                        </p>
                        <form method="POST">
                          {% csrf_token %}
                          {{form|crispy}}                
                          <button class="btn btn-primary" type="submit">Enviar</button>
                        </form>
                      </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
  {% endblock %}

