{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Milagros Veliz</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'app/css/service_list_view.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'app/css/nav.css' %}" /> -->
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <!-- <nav id="navbar">
        <div class="brand">
          <a href="">
            <h1 id="logo">Milagros Veliz</h1>
          </a>
        </div>
        <div id="ham-div"  onclick="togglenav()">
            <img id="ham" src="https://img.icons8.com/material-rounded/24/000000/menu.png"/>
        </div>
        <div id="navlist-div" class="">
          <ul id="navlist" class="folding-nav hidden">
              {% if request.user.is_authenticated %}
            <li><a href="">Logout</a></li>
            {% else %}
            <li><a href="">Login</a></li>
            <li><a href="">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav> -->

      <!-- Landing -->
      <!-- <div class="landing">
        <h1>Luxury <span>Re-Defined</span></h1>
        <img
          src="../static/app/img/hotel-1.jpg"
          id="landing-img"
          alt="Best Hotel in the World"
          srcset=""
        />
      </div> -->

      <h2>Servicios</h2>
      <!-- Main Content -->
      <div id="rooms">
        {% for services_category, service_url in service_list %}
        <div class="room">
          <a href="{{service_url}}">
            <img
            src="https://i.pinimg.com/736x/73/8e/8a/738e8a49d45350bdfaa7b1b325d1cca6.jpg">
          <h2>{{services_category}}<h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi</p>
        </a>
        </div>

        {% endfor %}
      </div>
    </div>
    <script src="{% static 'app/js/nav.js' %}"></script>
  </body>
</html>