{% extends "header.html" %}

{% block content %}      

    <div class="container">
      <h2>Servicios</h2>
      <!-- Main Content -->
      <div id="rooms">
        {% for services_category, service_url in service_list %}
        <div class="room">
          <a href="{{service_url}}">
            <img
            src="https://i.pinimg.com/736x/73/8e/8a/738e8a49d45350bdfaa7b1b325d1cca6.jpg">
          <h2>{{services_category}}<h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi</p>
        </a>
        </div>

        {% endfor %}
      </div>
    </div>

    {% endblock %}
   