{% extends "header.html" %}
{% block content %}      
{% load crispy_forms_tags %}

<div class="home">
               
    <a href="{% url 'app:ServiceListView'%}"><i class="fa-solid fa-house">Volver a Servicios</i></a>
</div>

<section class="h-100" id="registrar-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Reserva tu turno</h1>
                        <div class="room-info">
                            <h1>{{service_category}}</h1>
                        </div>
						<form method="POST">
							{% csrf_token %}
                            {{ form|crispy}}          
							<button class="btn btn-primary" type="submit">Reserva</button>
                            <button class="btn btn-secondary" type="reset">Resetear</button>
						</form>
					</div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
<body>

    <!-- Main Content -->
    <div class="content">

        <!-- Beauty Salon Image -->

        <!-- Room Details -->
        <div class="room">

            
            <!-- Div 2: Room Information -->

            <!-- Div 3: Room Booking Form -->
            <form id="booking-form" action="" method="POST">

                {% csrf_token %}

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_check_in">Check In : </label>
                    <input type="datetime-local" id="id_check_in" name="check_in">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_check_out">Check Out : </label>
                    <input type="datetime-local" id="id_check_out" name="check_out">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <button type="submit">Reservar</button>
                </div>

            </form>

        </div> <!-- END Room Div -->

    </div> <!-- END Main Content Div -->

</body>

</html>