{% extends "base.html" %}

{% block content %}      

{% load crispy_forms_tags %}
<div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/profile">Mi perfil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Estadisticas</li>
        </ol>
      </nav>
    </div>
  </div>

<div class="row">

    <div class="col-xl-8 col-lg-7">

        <div class="thumbnail">
            <img src="../../app/static/app/img/statis.png" alt="Punta de diamante" style="width:100vw; height:75vh; margin: auto;">
          </div>
        

    </div>

    <!-- Donut Chart -->
    
</div>
{% endblock %}

